@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,500;0,600;0,700;0,800;0,900;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,500;0,600;1,500;1,600;1,700&family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@200;400;500&family=Open+Sans:wght@400;500&display=swap');

:root {
    --primary-color: #FF6464;
    --primary-color-dark: #fe6769;
    --text-dark: #333333;
    --white: #ffffff;
    --gray: gray;
    --green-text: #57b8a5;
    --green-bg: #2b495c;
    --box-shadow: 0 0 2rem #000;
  }
  
*,
*:before,
*:after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

input,
select,
textarea {
    background-color: transparent;
    outline: none;
}

button {
    cursor: pointer;
    background-color: transparent;
    outline: none;
    border: 0;
}

body {
    min-height: 100vh;
    /* min-width: 100vw; */
    font-weight: 400;
    line-height: 1;
}

html {
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
    text-transform: capitalize;
    scroll-behavior: smooth;
}
