$primary-color: #1B1B1B;
$text-color:#fff;
$bg-color: rgb(216, 216, 216);
$success-color: 	#198754;
$black-color: #000;
$grey-color: #f0f0f0;
$white-color: #fff;
$lightpink: #ffcce0;
$blue: #1a1aff;
$custom: #1a1aff;
$color: #4d4d4d;
$lightblue: #ccccff;
$box-shadow-1: 0 5px 15px rgba(0, 0, 0, 0.1);
$box-shadow-2: 0 5px 15px rgba(255, 94, 58, 0.2);
$gradient: linear-gradient(to bottom, #fccb90, #ff9a9e);
$btn-gradient: linear-gradient(to bottom, #ff5151 50%, #ff5e3a);
$btn-color: #007bff;

