@import './Base/base';
@import './Abstracts/variable';
@import './Abstracts/mixin';
@import './Base/animations';
@import './Layout/header';
@import './Components/button';
@import './Layout/responsiveHeader';
@import './Layout/slider';
@import './Components/card';
@import './Layout/filterProduct';
@import './Components/footer';
@import './Layout/responsiveContent';

#load{
    background: #000 url(/images/34338d26023e5515f6cc8969aa027bca_w200.gif) no-repeat center center;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100000;
}

.message{
    display: flex;
    align-items: center;
    position: fixed;
    top: 30%;
    right: .5rem;
    background-color: rgb(106, 168, 126);
    padding: 2rem 4rem;
    z-index: 1;
    border-radius: 5rem;
    border-left: .6rem solid rgb(28, 78, 28);
    display: none;

    .check{
        margin-right: 1rem;
        color: rgb(3, 71, 3);
        font-size: 3rem;
    }
    .msg{
        font-size: 1.9rem;
    }
    .close{
        margin-left: 1.5rem;
        font-size: 2rem;
        color: rgb(144, 33, 33);
        :hover{
            color: rgb(110, 13, 13);
        }
    }
    &.hide{
        display: block;
        animation: hide_message 1s  forwards;
    }
    &.show{
        display: block;
        animation: show_message 1s  forwards;
    }

}
.scroll-top{
    position: fixed;
    bottom: 10%;
    right: 1%;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    font-size: 2rem;
    background-color: gray;
    color: white;
    display: none;

}

@keyframes hide_message {
    0% {
        opacity: 1;
    }
    40% {
        opacity: 0.6;
    }
    60% {
        opacity: 0.4;
    }
    80% {
        opacity: 0.2;
    }
    100% {
        opacity: 0;
    }
}
@keyframes show_message {
    0% {
        opacity: .2;
        transform: translateY(-.2rem);
    }
    40% {
        opacity: 0.4;
        transform: translateY(-.4rem);
    }
    60% {
        opacity: 0.6;
        transform: translateY(-.6rem);
    }
    80% {
        opacity: 0.8;
        transform: translateY(-.8rem);
    }
    100% {
        opacity: 1;
        transform: translateY(-1rem);
    }
}

