.btn{
    font-size: 1.2rem;
    text-transform: uppercase;
    padding: 1rem 1.5rem;
    font-family: 'Raleway', sans-serif;
    background-color: $btn-color;
    border-radius: 2rem;
    color: $text-color;
    cursor: pointer;
    background-color: #FBDA61;
    background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);
    
    
}