.card {
    border-radius: 5%;
    &:hover{
        border: .1rem solid $success-color;
    }
    text-align: center;
    padding: 2rem 0;
    background-color: $text-color;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
    &__img {
        width: 20rem;
        height: 20rem;
        margin: 0 auto;
        transform: scale(1);
        transition-duration: .4s;
        object-fit: scale-down;

        &:hover {
            transform: scale(1.2);
        }
    }

    &__name {
        color: #555555;
        border-top: 1px solid #cdcdcd;
        margin-top: 2rem;
        padding: 1rem 0;
        font-size: 2rem;
        text-transform: capitalize;
        font-weight: 600;

    }

    &__price {
        font-size: 2rem;
        color: #bd2026;
        font-weight: 600;
        padding-bottom: 1rem;
    }

    &__evaluate {
        .star{
            i{
                color: yellow;
                font-size: 1.6rem;
            }
        }
        .review{
            font-size: 1.6rem;
            color: #555555;
        }
    }

    &__node{
        padding: 2rem 0;
        @include centerItem;
        i{
            padding: 1rem;
            background-image: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%);
            margin: 0 .2rem;
            border-radius: 20%;
        }

    }
}